<html>
    <head>
        <title>Library Catalog</title>
    </head>
    <body>
        <h1>Welcome to the Nhu and Liz Library Catalog!</h1>
        <h3><a href="/books">List of books</a></h3>
        <h3><a href="/authors">List of authors</a></h3>

    </body>
</html>
